* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    padding: 0 20px;
}

header {
    text-align: center;
    background-color: #444;
    color: white;
    padding: 40px 0;
}

header .profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid white;
}

nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

ul {
    list-style-position: inside;
    padding-left: 20px; 
    margin: 0;
}

li ul {
    padding-left: 20px;
    font-weight: lighter;
}

li {
    margin-bottom: 10px;
    font-weight: bold;
}

section {
    margin: 40px 0;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section h2 {
    color: #444;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project {
    margin-bottom: 30px;
}

.project-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.contact-buttons {
    text-align: center;
}

.contact-buttons .btn {
    display: inline-block;
    background-color: #000000; /* LinkedIn color */
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contact-buttons .btn:hover {
    background-color: #000000; /* Darker LinkedIn color */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 40px;
    font-size: 0.9em;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
